<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=image.png, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0;">
    <h1 style="text-align: center; color: #333;">Please check your email</h1>
    <img style="width: 99vw; height: 80vh; object-fit: contain;"
        src="https://cdn.dribbble.com/users/2892587/screenshots/14374387/check-your-mail.gif" />
</body>

</html>