<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=image.png, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0;">
    <img style="width: 99vw; height: 99vh; object-fit: contain;"
        src="https://cdn.shopify.com/s/files/1/1948/0983/files/Logo-Web_Perfil-PNG_bce9defb-63b5-4fac-910f-78d157e035f7.png?v=1630534355" />
</body>

</html>