<!DOCTYPE html>
<html lang="en">

<%- include('./common/head.ejs') %>

    <body>
        <div id="main">
            <%- include('./common/menu.ejs') %>
                <header class="header"
                    style="background-image: linear-gradient(to right bottom, rgba(142, 158, 252, .8), rgba(28, 62, 255, .8)), 
            url(https://akm-img-a-in.tosshub.com/indiatoday/images/assets/202212/RTSEA24C-original--sixteen_nine.JPG?VersionId=in2qaBsge36btLBfRZCE.ac3uxvlJJ06&size=690:388)">
                    <div class="header__logo-box">
                        <img src="https://sport.yougov.com/wp-content/uploads/2022/11/FIFA-World-Cup-logo.webp" alt=""
                            class="header-logo">
                    </div>
                    <div class="header__text-box">
                        <h3 class="header-main-title">WORLD CUP 2022</h3>
                        <p class="header-sub-title">Keep memories of this year's world cup season</p>

                        <div class="header-btn">
                            <a href="/nations" class="Btn Btn--animated Btn--white">see all nations</a>
                            <a href="/players" class="Btn Btn--animated Btn--white">see all players</a>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <div class="about">
                        <h2 class="content-heading">
                            About us
                        </h2>
                        <div class="grid wide">
                            <div class="row">
                                <div class="col l-6 m-6 c-12">
                                    <div class="about__text-box">
                                        <h3 class="about-text-heading">overview</h3>
                                        <p class="about-text-desc">The 2022 FIFA World Cup was an international football
                                            tournament contested by the men's national teams of FIFA's member
                                            associations
                                            and
                                            22nd edition of the FIFA World Cup. It took place in Qatar from 20 November
                                            to
                                            18
                                            December 2022, making it the first World Cup held in the Arab world and
                                            Muslim
                                            world, and the second held entirely in Asia after the 2002 tournament in
                                            South
                                            Korea
                                            and Japan.</p>
                                        <h3 class="about-text-heading">Prize money</h3>
                                        <p class="about-text-desc">In April 2022, FIFA announced the prizes for all
                                            participating nations. Each qualified team received $1.5 million before the
                                            competition to cover preparation costs with each team receiving at least $9
                                            million
                                            in prize money. This edition's total prize pool was $440 million, $40
                                            million
                                            greater than the prize pool of the previous tournament.
                                        </p>
                                    </div>
                                </div>
                                <div class="col l-6 m-6 c-12">
                                    <div class="about__img-box">
                                        <img src="https://seekflag.com/app/uploads/2021/12/Morocco-01-1.svg" alt=""
                                            class="about-img about-img--1">
                                        <img src="https://seekflag.com/app/uploads/2021/11/flag-of-Argentina-01.svg"
                                            alt="" class="about-img about-img--2">
                                        <img src="https://seekflag.com/app/uploads/2021/11/Flag-of-Croatia-01-1.svg"
                                            alt="" class="about-img about-img--3">
                                        <img src="https://seekflag.com/app/uploads/2021/12/portugal-01-1.svg" alt=""
                                            class="about-img about-img--4">
                                        <img src="https://seekflag.com/app/uploads/2021/11/Flag-of-France-01-1.svg"
                                            alt="" class="about-img about-img--5">
                                        <img src="https://seekflag.com/app/uploads/2021/11/Flag-of-Brazil-01-1.svg"
                                            alt="" class="about-img about-img--6">
                                        <img src="https://seekflag.com/app/uploads/2022/01/England-01-1.svg" alt=""
                                            class="about-img about-img--7">
                                        <img src="https://seekflag.com/app/uploads/2021/11/Flag-of-Dutch-01-2.svg"
                                            alt="" class="about-img about-img--8">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <h2 class="content-heading" style="margin-top: 60px">CHAMPION</h2>
                        <div class="bg-video">
                            <img class="bg-video__content"
                                src="https://64.media.tumblr.com/56b5afa17be5c4bcac7b8ea0793271da/8b8039b0f6d65064-9c/s640x960/667016df270d43d6466c06323bde506f7b026cfb.gif"
                                alt="mô tả ảnh">
                        </div>
                        <ul class="testimonial__list">
                            <li class="testimonial-item">
                                <figure class="testimonial-shape">
                                    <img src="https://seekflag.com/app/uploads/2021/11/flag-of-Argentina-01.svg" alt=""
                                        class="testimonial-shape__img">
                                </figure>
                                <div class="testimonial-text">
                                    <h4 class="testimonial-text__title">Argentina</h4>
                                    <p class="testimonial-text__desc">
                                        Argentina were crowned the champions after winning the final against the title
                                        holder
                                        France 4–2 on penalties following a 3–3 draw after extra time. It was
                                        Argentina's
                                        third
                                        title and their first since 1986, as well being the first nation from outside of
                                        Europe
                                        to win the tournament since 2002.
                                    </p>
                                </div>
                            </li>

                            <li class="testimonial-item">
                                <figure class="testimonial-shape">
                                    <img src="https://www.footyrenders.com/render/lionel-messi-403-390x419.png" alt=""
                                        class="testimonial-shape__img">
                                </figure>
                                <div class="testimonial-text">
                                    <h4 class="testimonial-text__title">Lionel Andrés Messi</h4>
                                    <p class="testimonial-text__desc">
                                        Messi captained his country to win the 2022 FIFA World Cup, for which he won the
                                        Golden Ball for a record second time, and broke the record for most appearances
                                        in
                                        World
                                        Cup tournaments with 26 matches played.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <footer class="footer">
                    <img src="https://sport.yougov.com/wp-content/uploads/2022/11/FIFA-World-Cup-logo.webp" alt=""
                        class="footer__logo">
                    <h3 class="content-heading">FIFA WORLD CUP 2022</h3>
                    <div class="grid wide">
                        <div class="row">
                            <div class="col l-6 m-6 c-12">
                                <div class="footer__section">
                                    <ul class="footer__list">
                                        <li class="footer__item heading-content">
                                            <a class="content-heading footer__link" href="">address</a>
                                        </li>
                                        <li class="footer__item heading-content">
                                            <a class="content-heading footer__link" href="">contacts</a>
                                        </li>
                                        <li class="footer__item heading-content">
                                            <a class="content-heading footer__link" href="">policy</a>
                                        </li>
                                        <li class="footer__item heading-content">
                                            <a class="content-heading footer__link" href="">sponsor</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col l-6 m-6 c-12">
                                <div class="footer__section">
                                    <div class="footer__copyright">
                                        Copyright by datnpse150694
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
        </div>
    </body>

</html>